---
import ForgotPasswordForm from "../components/form/forgot-password";
import Layout from "../layouts/layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="max-w-md p-6 m-auto">
    <ForgotPasswordForm client:visible client:load />
  </main>
</Layout>
