---
import RegisterForm from "../components/form/register";
import Layout from "../layouts/layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="max-w-md p-6 m-auto">
    <RegisterForm client:visible />
  </main>
</Layout>
